In [1]:
# List Dependencies
import pandas as pd

In [2]:
#Pull in Chicago data CSV to dataframes and generalize field names
denver_crimes = "Documents/Denver_Crimes_2015.csv"
denver_df = pd.read_csv(denver_crimes)
denver_df['OFFENSE_CATEGORY_ID'] = denver_df['OFFENSE_CATEGORY_ID'].replace({'other-crimes-against-persons': 'Aggravated Assault', 'aggravated-assault': 'Aggravated Assault', 'robbery': 'Robbery',
                                 'sexual-assault': 'Rape', 'all-other-crimes': 'Aggravated Assault',
                                'murder':'Homicide'})

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4,5,7,8,9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Pull in Los Angeles data CSV to dataframes and generalize field names
LA_crimes = "Documents/LA_Crime_2015.csv"
LA_df = pd.read_csv(LA_crimes)
LA_df['Crime Code Description'] = LA_df['Crime Code Description'].replace({'BATTERY - SIMPLE ASSAULT': 'Aggravated Assault', 'INTIMATE PARTNER - SIMPLE ASSAULT': 'Aggravated Assault', 'ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT': 'Aggravated Assault',
                                  'ROBBERY': 'Robbery', 'INTIMATE PARTNER - AGGRAVATED ASSAULT': 'Aggravated Assault',
                                'ATTEMPTED ROBBERY':'Robbery', 'BATTERY WITH SEXUAL CONTACT':'Aggravated Assault','RAPE, FORCIBLE':'Rape',
                                'CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT':'Aggravated Assault','OTHER ASSAULT':'Aggravated Assault','BATTERY POLICE (SIMPLE)':'Aggravated Assault',
                                'ASSAULT WITH DEADLY WEAPON ON POLICE OFFICER':'Aggravated Assault','CRIMINAL HOMICIDE':'Homicide','SHOTS FIRED AT INHABITED DWELLING':'Aggravated Assault',
                                'THROWING OBJECT AT MOVING VEHICLE':'Aggravated Assault','RAPE, ATTEMPTED':'Rape','CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT':'Aggravated Assault',
                                'BATTERY ON A FIREFIGHTER':'Aggravated Assault','SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT':'Aggravated Assault',
                                'BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM0065':'Aggravated Assault'})

In [4]:
#Pull in Philadelphia data CSV to dataframes and generalize field names
philly_crimes = "Documents/Philly_Crime_2015.csv"
philly_df = pd.read_csv(philly_crimes)
philly_df['Text_General_Code'] = philly_df['Text_General_Code'].replace({'Other Assaults': 'Aggravated Assault', 'Robbery No Firearm': 'Robbery', 'Robbery Firearm': 'Robbery',
                                 'Aggravated Assault No Firearm': 'Aggravated Assault', 'Aggravated Assault Firearm': 'Aggravated Assault',
                                'Homicide - Criminal':'Homicide', 'Other Sex Offenses (Not Commercialized)':'Rape'})

C:\Users\Owner\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1,2,4,7,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#Pull in Boston data CSV to dataframes and generalize field names
boston_crimes = "Documents/Boston_Crimes_2015.csv"
boston_df = pd.read_csv(boston_crimes)
boston_df['OFFENSE_CODE_GROUP'] = boston_df['OFFENSE_CODE_GROUP'].replace({'Simple Assault': 'Aggravated Assault'})

In [6]:
#Dever Crimes, Overwrite DF, Run counts on individual types of major crime
denver_value_counts = denver_df['OFFENSE_CATEGORY_ID'].value_counts(dropna=True, sort=True)
denver_df = denver_value_counts.rename_axis('crime_type').reset_index(name='counts')
denver_df

           crime_type  counts
0  Aggravated Assault    5615
1             Robbery    1213
2                Rape     717
3            Homicide      49

In [7]:
# Clean up of LA DF reduce type of crime to major 4 crimes (Remove non-violent and petty crimes), Overwrite DF, Run counts on individual types of mejor crime
LA_value_counts = LA_df['Crime Code Description'].value_counts(dropna=True, sort=True)
LA_df = LA_value_counts.rename_axis('crime_type').reset_index(name='counts')
LA_df = LA_df[LA_df.crime_type != 'PICKPOCKET']
LA_df = LA_df[LA_df.crime_type != 'BUNCO, GRAND THEFT']
LA_df = LA_df[LA_df.crime_type != 'SHOPLIFTING - PETTY THEFT ($950 & UNDER)']
LA_df = LA_df[LA_df.crime_type != 'THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)']
LA_df = LA_df[LA_df.crime_type != 'CRIMINAL THREATS - NO WEAPON DISPLAYED']
LA_df = LA_df[LA_df.crime_type != 'DOCUMENT FORGERY / STOLEN FELONY']
LA_df = LA_df[LA_df.crime_type != 'TRESPASSING']
LA_df = LA_df[LA_df.crime_type != 'VEHICLE - STOLEN']
LA_df = LA_df[LA_df.crime_type != 'CRIMINAL THREATS - NO WEAPON DISPLAYED']

LA_df

           crime_type  counts
0  Aggravated Assault   13471
1             Robbery    2932
2                Rape     338
3            Homicide      68

In [8]:
#Phileadelphia Crimes, Overwrite DF, Run counts on individual types of major crime
philly_value_counts = philly_df['Text_General_Code'].value_counts(dropna=True, sort=True)
philly_df = philly_value_counts.rename_axis('crime_type').reset_index(name='counts')
philly_df

           crime_type  counts
0  Aggravated Assault    7506
1             Robbery    3833
2                Rape     446
3            Homicide     273

In [9]:
#Phileadelphia Crimes, Overwrite DF, Run counts on individual types of major crime, Appended a row for 'Rape' and a NaN value
boston_value_counts = boston_df['OFFENSE_CODE_GROUP'].value_counts(dropna=True, sort=True)
boston_df = boston_value_counts.rename_axis('crime_type').reset_index(name='counts')
boston_df = boston_df.append({'crime_type' : 'Rape' , 'counts' : 'NaN'} , ignore_index=True)
boston_df

           crime_type counts
0  Aggravated Assault  24296
1             Robbery   4740
2            Homicide    165
3                Rape    NaN

In [10]:
#Combine Dever Count of Major Crimes and Philly Count of Major Crimes, Rename columns to [City] Count
combined_df = pd.merge(denver_df, philly_df, on="crime_type")
combined_df.rename(columns={'counts_x':'Denver Count', 'counts_y':'Philadelphia Count'}, inplace=True)
combined_df

           crime_type  Denver Count  Philadelphia Count
0  Aggravated Assault          5615                7506
1             Robbery          1213                3833
2                Rape           717                 446
3            Homicide            49                 273

In [11]:
#Combine previous combined dataframe with the LA Count, Rename 'counts' column to 'Los Angeles Count'
combined_df = pd.merge(combined_df, LA_df, on="crime_type")
combined_df.rename(columns={'counts':'Los Angeles Count'}, inplace=True)
combined_df

           crime_type  Denver Count  Philadelphia Count  Los Angeles Count
0  Aggravated Assault          5615                7506              13471
1             Robbery          1213                3833               2932
2                Rape           717                 446                338
3            Homicide            49                 273                 68

In [12]:
#Combine previous combined dataframe with the Boston Count, Rename 'counts' column to 'Boston Count' and 'crime_type' to 'Crime'
combined_df = pd.merge(combined_df, boston_df, on="crime_type")
combined_df.rename(columns={'crime_type':'Crime', 'counts':'Boston Count'}, inplace=True)
combined_df

,Crime,Denver Count,Philadelphia Count,Los Angeles Count,Boston Count
0,Aggravated Assault,5615,7506,13471,24296
1,Robbery,1213,3833,2932,4740
2,Rape,717,446,338,NaN
3,Homicide,49,273,68,165